.combobox {
  position: relative;
  border-radius: var(--border-radius);

  .form__combobox:nth-child(1) & {
    background-color: var(--theme-color-1);
    color: var(--text-color-level-2);
  }

  .form__combobox:nth-child(2) & {
    background-color: var(--theme-color-2);
    color: var(--text-color-level-2);
  }

  .form__combobox:nth-child(3) & {
    background-color: var(--theme-color-3);
    color: var(--text-color-level-2);
  }

  &__group {
    display: inline-flex;
    padding: 1rem 0.5rem;
    cursor: pointer;
  }

  &__input,
  &__button {
    position: relative;
    vertical-align: bottom;
    height: 2rem;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    color: var(--text-color-level-2);
    cursor: pointer;
  }

  &__input {
    width: 150px;
    padding: 0.5rem;
    font-size: 1.125rem;
    font-weight: bold;

    &::placeholder {
      color: var(--text-color-level-2);
    }
  }

  &__button {
    width: 2rem;
    border-left: none;

    &[aria-expanded="true"] i {
      transform: rotate(180deg) translate(0, -3px);
    }
  }

  &__list {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% - 5px);
    max-height: 250px;
    width: 100%;
    margin: 0;
    padding: 0 0.5rem 1rem;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background-color: inherit;
    list-style: none;
    font-size: 1.125rem;
    overflow: auto;
    overflow-x: hidden;
    cursor: pointer;
  }

  &__item {
    display: block;
    margin: 0;
    padding-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
